<div class="app">
  <div class="header" [ngClass]="{'header-blue': theme==='blue', 'header-gold': theme==='gold'}">
    <img
      class="header__icon"
      src="https://user-images.githubusercontent.com/23297041/55285200-a24e9b00-538f-11e9-8990-d49a162824d1.png"
    />
    <h1 class="header__title">
      {{title}}
      <span>המובילים</span>
    </h1>
  </div>
  <div class="list">
    <div class="list__person">
      <img class="person__image" src=""/>
      <p class="person__name">Yarin Vaknin</p>
      <p class="person__networth">
        3351 Commits
      </p>
    </div>
    <div class="list__person">
      <img class="person__image" src=""/>
      <p class="person__name">Arik Furman</p>
      <p class="person__networth">
        2100 Commits
      </p>
    </div>
    <div class="list__person">
      <img class="person__image" src=""/>
      <p class="person__name">Arik Furman</p>
      <p class="person__networth">
        2100 Commits
      </p>
    </div>
  </div>
</div>
