<table mat-table [dataSource]="reposData">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{reposData.indexOf(element)}} </td>
  </ng-container>

  <ng-container matColumnDef="repo">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="contributorsCount">
    <th mat-header-cell *matHeaderCellDef> Contributors Count </th>
    <td mat-cell *matCellDef="let element"> {{element.contributorsCount}} </td>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
