<div dir="rtl" class="profile-container">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center" style="float:right">
    <app-user-card dir="ltr" class="text-left" title="הפרויקטים" theme="gold"
                   [userData]="userData"
                   criteria="contributors"></app-user-card>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center" style="float:right">
    <app-repos-list-card [repos]="userData.repos" dir="ltr" class="text-left" title="הפרויקטים" theme="blue"
                         criteria="קומיטים"></app-repos-list-card>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center" style="float:right">
    <app-languages-chart class="text-left" dir="ltr"></app-languages-chart>
  </div>
  <br><br>
</div>
