<div dir="rtl">
  <div class="col-4 text-center" style="float:right">
    <app-user-card dir="ltr" class="text-left" title="הפרויקטים" theme="gold"
                   criteria="contributors"></app-user-card>
  </div>

  <div class="col-4 text-center" style="float:right">
    <app-repos-list-card dir="ltr" class="text-left" title="הפרויקטים" theme="blue"
                         criteria="קומיטים"></app-repos-list-card>
  </div>
  <div class="col-4 text-center" style="float:right">
    <app-languages-chart class="text-left" dir="ltr"></app-languages-chart>
  </div>
  <br><br>
</div>
