<div class="row">
  <div class="col-4 text-left">
    <app-repos-leaderboard></app-repos-leaderboard>
  </div>
  <div class="col-4 text-center" dir="rtl">
    <br>
    <img src="../../assets/ohub.png" class="img-fluid tada ofek-logo"><br><br>
    <h3>כבר תרמת.. לקוד פתוח ביחידה?</h3>
    <h5>האתר נוצר במטרה לתת למפתחים באופק אינדיקציה לגבי כמות תרומת הקוד שלהם לפרויקטים, ולייצר גיימיפיקציה עבור הפיתוח
      ביחידה</h5>
  </div>
  <div class="col-4 text-right">
    <app-contributors-leaderboard class="text-left"></app-contributors-leaderboard>
  </div>
</div>
<br>

