<div class="col-md-4 col-sm-12 text-left">
  <app-repos-leaderboard ></app-repos-leaderboard>
</div>
<div class="col-md-4 col-sm-12 text-center" dir="rtl">
  <br>
  <img src="../../assets/ohub.png" class="img-responsive tada ofek-logo"><br><br>
  <h2>כבר תרמת.. לקוד פתוח ביחידה?</h2>
  <h4>האתר נוצר במטרה לתת למפתחים באופק אינדיקציה לגבי כמות תרומת הקוד שלהם לפרויקטים, ולייצר גיימיפיקציה עבור הפיתוח
    ביחידה</h4>
</div>
<div class="col-md-4 col-sm-12 text-right">
  <app-contributors-leaderboard class="text-left" ></app-contributors-leaderboard>
</div>
<br>

