<div class="row col-md-4 col-md-offset-4" *ngFor="let repo of topRepos; let i = index;">
  <div class="info-box">
        <div class="info-box-icon">
          <div class="fa fa-fw fa-trophy">
            <div>
              <strong>#{{i + 1}}</strong>
            </div>
          </div>
        </div>
    <div class="info-box-content">
      <strong class="repository-name uppercase">{{repo.repositoryName}}</strong>
      <div class="info-box-number">{{repo.contributorsCount}} <i class="fa fa-fw fa-child" title="Contributors"></i>
      </div>
      <span class="top-contributor">Top Contributor: <strong>{{repo.topContributor}}</strong></span>
    </div>
  </div>
</div>

